<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DefaultConnStr" value="lymis"/>
    <add key="DatabaseType" value="1"/>
  </appSettings>
<connectionStrings>
  <add name="lymis" connectionString="Data Source=ghdbserver;user id=tanxinmis;password=tanxinmis"/>
</connectionStrings>
</configuration>